{% extends 'base.html.twig' %}

{% block title %}{{ product.area }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-3 mb-9">
            <h1 class="mt-4 mt-md-0">{{ product.brand }}</h1>
            <h2>{{ product.price}} € HT</h2>
            <div class="col-md-4">
                <img src="https://image.freepik.com/free-vector/bottle-wine-drawing_117521-52.jpg" class="card-img-top">
            </div>
            <div class="col-md-5">
                <ul><b>Type: </b> {{ product.type.name }}</ul>
                <ul><b>Degrées d'alcool: </b> {{ product.alcoholVolume }} %</ul>
                <ul><b>Couleur: </b> {{ product.color }}</ul>
                <ul><b>Appellation: </b> {{ product.appellation.name }}</ul>
                <ul><b>Description: </b>{{ product.description }}</ul>
            </div>
        </div>
    </div>

{% endblock %}